 body{
   margin:0;
   padding:0;
   background-color: hwb(0 3% 93% / 0.775);
}
.main{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;  
}
.homeAndSearch{
    background-color: rgb(106, 59, 132);
    width: 250px;
    height: 90px;
    padding-left: 20px;
    margin: 10px;
    padding-top: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.search{
    margin-top: 5px;
}
#home{
    margin-left: 10px;
}
#search{
    margin-left: 10px;
}
*{
    font-family:Arial, Helvetica, sans-serif;
    font: weight 300px;
    
}
a:link{
    color:gainsboro;
    text-decoration: none;
}
a:visited{
    color: white;
}
.Yourlibrary{
    background-color: black;
    margin-top:20px;
    width: 260px;
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding: auto;
    height: 500px;
}
 .genre{
    padding-top: 20px;
    margin-left: 5px;
 }
 .library{
    margin-left: 5px;
 }
#file-container{
    background-color: rgba(220, 231, 231, 0.778);
    margin-left: 700px;
    margin-bottom: 200px;
    margin-top:-350px;
    width: 300px;
    height: 300px;
    border:3.7px dashed rgba(49, 35, 53, 0.674);
}
.cloud-icon{
    margin-left: 80px;
    width: 10px;
    opacity: 0.4;
}

.upload-box{
    font-size: 16px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width:120px;
    outline: none;
    margin-left:80px;
}
::-webkit-file-upload-button{
    color:white;
    background-color: #206a5d;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline:none
}
.upload-content{
    align-items: center;
    position: relative;
    margin-left:60px;
    padding-bottom: 10px;
}
.User-LS{
    margin-left: 1350px;
    margin-top:-650px;
}
.login{
    font-size: 25px;
    color:#6b4559;
    background-color: rgb(161, 24, 24);
    border-radius: 10px;
}
.singup{
    font-size: 25px;
    background-color: rgb(43, 112, 176);
    border-radius: 10px;
}
.searchBar{
    --padding:14px;
    margin-left: 650px;
    margin-top: -5px;
    width: max-content;
    display: flex;
    align-items: center;
    padding:var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
}
.searchInput{
   font-size: 16px;
   font-family: 'Lexend',sans-serif;
   color:#333333;
   margin-left: 14px;
   border: none;
   outline: none;
   background: transparent;
   width:300px;

}
.searchInput::placeholder{
    color: rgba(0, 0, 0,0.6);
}
#searchIcon{
    color: rgba(0, 0, 0, 0.6);
}